<a href="https://colab.research.google.com/github/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/blob/main/7dayofcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*7 dias de Desafio Alura - Dados da Biblioteca da UFRN**
###### Primeiro dia - Importa os dados de Empréstimo dos Acervos do Sistema da Bibliotecas da UFRN
### **Solicitações do Cliente:**
#### A Quantidade dos Emprestimos estâo Aumentanto ou Diminuindo ao decorrer dos  últimos anos?
#####Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?
#####Quais são os temas mais emprestados? E os menos?

In [7]:
import pandas as pd
import pyarrow.parquet as pq

In [8]:
#importando base direto do diretorio do GITHU

df101= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv', encoding='utf-8')
df102= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv', encoding='utf-8')
df111= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv', encoding='utf-8')
df112= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv', encoding='utf-8')
df121= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv', encoding='utf-8')
df122= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv', encoding='utf-8')
df131= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv', encoding='utf-8')
df132= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv', encoding='utf-8')
df141= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv', encoding='utf-8')
df142= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv', encoding='utf-8')
df151= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv', encoding='utf-8')
df152= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv', encoding='utf-8')
df161= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv', encoding='utf-8')
df162= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv', encoding='utf-8')
df171= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv', encoding='utf-8')
df172= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv', encoding='utf-8')
df181= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv', encoding='utf-8')
df182= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv', encoding='utf-8')
df191= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv', encoding='utf-8')
df192= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv', encoding='utf-8')
df201= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv', encoding='utf-8')

In [9]:
#concatenando as planilhas em um único arquivo
dados_emprestimos = pd.concat([df101, df102, df111, df112,df121, df122, df131, df132, df141,df142, df151,df152,df161,df162,df171,df172,df181,df182,df191,df192,df201],ignore_index =True)

In [10]:
dados_emprestimos.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO

In [11]:
#importar dados Exemplares
dados_exemplares = pd.read_parquet('/content/dados_exemplares.parquet')

In [12]:
dados_exemplares.head(10)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
7,13,L000924,Dissertações,Biblioteca Central Zila Mamede,REGULAR,651,18
8,12,L000056,Dissertações,Biblioteca Central Zila Mamede,NÃO CIRCULA,647,18
12,19,L116810_23/09/2020 00:01:33,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661,32
13,20,L000088,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,683,33
14,21,L117745,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,655,35

In [13]:
#informação sobre os dados
dados_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258018 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 120.6+ MB

In [14]:
#verificar as informações dos dados
dados_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258018 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 120.6+ MB

In [15]:
dados_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2351392        2015008037     2016/01/17 16:03:38.705000000  2016/01/02 10:12:01.529000000  2016/01/27 16:37:59.000000000  2.014036e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
1443393        2012037906     2013/03/20 20:17:10.574000000  2013/03/07 11:24:19.326000000  2013/03/25 08:58:44.000000000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013/04/07 01:06:51.679000000  2013/03/07 11:25:22.661000000  2013/05/07 16:19:34.000000000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
Length: 968028, dtype: int64

In [16]:
#Eliminando dados duplicados dos datafreme emprestimos
emprestimos_sem_duplicadas = dados_emprestimos.drop_duplicates()

In [17]:
emprestimos_sem_duplicadas.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
Length: 968028, dtype: int64

In [18]:
#unificando os dois dataframes com o merge

dados_completos_biblioteca = emprestimos_sem_duplicadas.merge(dados_exemplares)
dados_completos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [19]:
from pandas.core.groupby import groupby
#criando um grupo das Bibliotecas para analise de quantidades maximas e minimas de aluguel
grupo_bibliotecas = dados_completos_biblioteca.groupby('biblioteca')

In [38]:
grupo_bibliotecas.id_exemplar.describe().round(2)

,count,mean,std,min,25%,50%,75%,max
biblioteca,,,,,,,,
Biblioteca Central Zila Mamede,1426122.0,682303.52,426109.29,27.0,212237.00,900050.0,1033294.0,1348154.0
Biblioteca Setorial Bertha Cruz Enders - ­Escola de Saúde da UFRN - ESUFRN,46040.0,594029.76,419435.24,11673.0,241294.00,267778.0,998897.0,1342318.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó,32097.0,1163261.45,67119.99,248436.0,1110355.00,1151055.0,1209527.0,1344201.0
Biblioteca Setorial Moacyr de Góes - CE,1036.0,408775.32,422226.27,1775.0,113005.00,221344.0,780346.0,1345020.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN,21476.0,645632.62,433238.71,26519.0,151300.00,812213.5,1013160.0,1347668.0
Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia,66447.0,755757.90,434045.02,4209.0,223902.00,1000281.0,1106279.0,1323922.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - ­CT,5057.0,584344.53,426158.61,926.0,257354.00,271908.0,1045140.0,1326966.0
Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ,26923.0,672716.55,431382.11,274.0,251207.00,812050.0,1079328.0,1344749.0
Biblioteca Setorial Prof. Horácio Nicolas Solimo - ­ Engenharia Química - EQ - CT,4098.0,605101.70,406995.98,864.0,227100.00,769000.0,936832.0,1339896.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Centro de Biociências - CB,12900.0,1072499.29,299879.67,516.0,1083837.00,1173324.0,1215961.0,1347734.0
Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ - Macaiba,27219.0,992479.43,261471.59,14541.0,958065.00,1026711.0,1145810.0,1347935.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET,22749.0,450031.95,413910.14,362.0,155522.00,211555.0,811336.0,1341671.0
Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos,29089.0,1019705.40,93149.68,232597.0,950581.00,1007230.0,1081260.0,1340974.0
Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - ­CERES­ - Caicó,61478.0,1070721.46,118686.75,51724.0,970622.25,1041295.5,1161315.5,1343594.0
Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz,77609.0,876824.42,262137.99,19713.0,807867.00,935417.0,1010741.0,1336037.0
Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA,10533.0,697993.64,516171.65,1703.0,224210.00,287625.0,1261204.0,1346776.0
Biblioteca Setorial do Centro Ciências da Saúde - CCS,118614.0,640821.62,402647.93,6801.0,210367.00,805574.0,984618.0,1345252.0
"Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA",40744.0,433324.75,402993.68,605.0,152011.75,241767.0,818644.0,1345298.0
Biblioteca Setorial do Departamento de Artes - DEART,17099.0,826171.58,455881.13,2599.0,278064.00,1121762.0,1179076.0,1346832.0
Biblioteca Setorial do Núcleo de Educação da Infância - NEI,23656.0,1128956.54,127737.67,813272.0,1011935.00,1132240.0,1238288.0,1348264.0
Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz,617.0,846118.84,397825.21,8479.0,225327.00,1074111.0,1081054.0,1282996.0
Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe,919.0,1095745.81,166498.03,57675.0,1030256.00,1048602.0,1235970.0,1330432.0

# **Segundo dia:**

 Manipular os dados;

 Realizar limpeza dos dados;

# **Solicitção do Cliente:**

1- Classificar a coluna localização de acordo com a classificação CDU.

2- Excluir a  Coluna Registro_Sistema .

3- A Coluna "matricula_ou_siape" não esta legível, melhorar a visualização e formato transformando em String.

In [31]:
#Excluindo a coluna registro_sistema. Atividade 02
dados_completos_biblioteca = dados_completos_biblioteca.drop('registro_sistema', axis = 1)

In [32]:
#Verificando a as informações do Dataframe e confirmando a exclução da coluna "registro_sistema"
dados_completos_biblioteca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072522 entries, 0 to 2072521
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
dtypes: float64(1), int64(3), object(8)
memory usage: 270.1+ MB

In [34]:
# Atividade 03 - A Coluna "matricula_ou_siape" não esta legível, melhorar a visualização. Transformar em String.
dados_completos_biblioteca.matricula_ou_siape.info()

<class 'pandas.core.series.Series'>
Int64Index: 2072522 entries, 0 to 2072521
Series name: matricula_ou_siape
Non-Null Count    Dtype
--------------    -----
2069629 non-null  float64
dtypes: float64(1)
memory usage: 96.1 MB



> Bloco com recuo

In [39]:
dados_completos_biblioteca.matricula_ou_siape

0          2.008023e+09
1          2.009122e+09
2          2.008023e+09
3          2.008050e+09
4          2.007226e+08
               ...
2072517    2.015011e+10
2072518    2.019004e+10
2072519    2.019102e+10
2072520    2.015013e+10
2072521    2.020001e+10
Name: matricula_ou_siape, Length: 2072522, dtype: float64

In [40]:
#Convertendo a coluna matricula_ou_siape em String - astupe(str)
dados_completos_biblioteca['matricula_ou_siape'] = dados_completos_biblioteca['matricula_ou_siape'].astype(str)

In [41]:
dados_completos_biblioteca.matricula_ou_siape

0           2008023265.0
1           2009121584.0
2           2008023265.0
3           2008050352.0
4            200722565.0
               ...
2072517    20150109837.0
2072518    20190035012.0
2072519    20191021693.0
2072520    20150129867.0
2072521    20200005327.0
Name: matricula_ou_siape, Length: 2072522, dtype: object